/*!
 * Start Bootstrap - Agency v3.3.7+1 (http://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: rgba(209, 25, 22, 0.82);
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #eeeeee;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: rgba(209, 25, 22, 0.82);
  border-color: rgba(209, 25, 22, 0.82);
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: rgba(209, 25, 22, 0.82);
  border-color: rgba(209, 25, 22, 0.82);
}
.btn-primary .badge {
  color: rgba(209, 25, 22, 0.82);
  background-color: white;
}
.btn-xl {
  color: white;
  background-color: #rgba(209, 25, 22, 0.82);
  border-color: .btn-xl;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: rgba(209, 25, 22, 0.82);
  border-color: rgba(209, 25, 22, 0.82);
}
.btn-xl .badge {
  color: rgba(209, 25, 22, 0.82);
  background-color: white;
}
.navbar-custom {
  background-color: #222222;
  border-color: white;
}
.navbar-custom .navbar-brand {
  color: rgba(209, 25, 22, 0.82);
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #fec503;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: rgba(209, 25, 22, 0.82);
  border-color: rgba(209, 25, 22, 0.82);
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: rgba(209, 25, 22, 0.82);
}
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(209, 25, 22, 0.82);
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: rgba(209, 25, 22, 0.82);
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: rgba(209, 25, 22, 0.82);
  background-color: white;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: rgba(209, 25, 22, 0.82);
  background-color: white;
}
@media (min-width: 768px) {
  .navbar-custom {
    background-color: white;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: white;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 5px 0;
  }
}

/*Start Section Map CSS */
section#map {
  padding: 25px 0;
}
section#map .service-heading {
  text-transform: none;
  text-align: center;
  border-bottom: 1px solid #d57472;
}
section#map .panel-body{
  padding: 10px 0;
}

#mapper {
    box-shadow: 3px 3px 10px gray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width:1200px;
    height:400px;
}
/*End Section Map CSS*/

/*Start Section Images CSS */
section#images .service-heading {
  width: 100%;
  padding: 0 20px;
  margin: auto;
  text-transform: none;
  text-align: center;
  border-bottom: 1px solid #d57472;
}

section#images .panel-body{
  text-align: left;
  padding: 10px 0;
}
section#images .panel-body a{
  float: right;
  background-color: rgba(209, 25, 22, 0.82);
  color: white;
}
section#images .panel-default .fa-stack{
  width: auto;
  height: auto;
  padding: 10px 10px 15px 10px;
}

/*End Section Images CSS*/

aside.clients img {
  margin: 50px auto;
}
section#map .section-heading {
  color: white;
}
section#map ul{
  list-style: none;
  padding: 0;
}
footer {
  padding: 30px 0;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: rgba(209, 25, 22, 0.82);
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

#for_button {
    border-left: 50px;
    padding-top: 20px;
    text-align: center;
}
.img-responsive {
    width: auto;
    height: auto;
}

#greet {
    text-overflow: ellipsis 
}

.navbar-text {
    margin-top: 50px;
    margin-bottom: 2px;
}

#wrapper {
    width: auto;
    margin: 50px auto;
    min-height: auto;
    min-width: auto;
}

#columns {
    margin-right: 40px;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}

.pin {
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.pin img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.pin p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}

@media (min-width: 100px) {
    #columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
            }
    #mapper 
    {
        height:200px; 
        width:200px; 
    }
    #input{         
     }

    .form-control{
        display: inline-block;
        width: auto;
        font-size: 4px;
        height: 25px;
    }
    .btn{
        font-size: 6.4px;
        padding: 6.7px 12px;
    }

h3 {
        font-size: 18px;
}
h4 {
        font-size: 18px;
}
.navbar-brand>img {
    display: block;
    height: 40px;
}

}
@media (min-width: 240px) {
    #columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
            }
    #mapper{
      height:200px; 
      width:400px; 
    }

    .form-control{
      display: inline-block;
      width: auto;
      font-size: 10px;
      height: 34px;
    }
    .btn{
        font-size: 14px;
        padding: 6.7px 12px;
    }
    h3 {
        font-size: 15px;
    }

    h4 {
            font-size: 15px;
    }
  .navbar-brand>img {
      display: block;
      height: 40px;
  }
}

@media (min-width: 428px) {
    #columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    #mapper{

    height:200px; 
    width:600px; 
    }
      #input{
    width: auto;
    height: auto;

    }

    .form-control{
            display: inline-block;
    width: auto;
    vertical-align: middle;
     font-size: 14px;
     height: 34px;
    }
.btn{
        font-size: 14px;
        padding: 6px 12px;
    }

h3 {
    font-size: 18px;
}
h4 {
        font-size: 18px;
}
.navbar-brand>img {
    display: block;
    height: 60px;
}
}

@media (min-width: 500px) {
    #columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    #mapper{

    height:200px; 
    width:600px; 
    }
      #input{
    width: auto;
    height: auto;

    }

    .form-control{
            display: inline-block;
    width: auto;
    vertical-align: middle;
     font-size: 14px;
     height: 34px;
    }
    .btn{
      font-size: 14px;
      padding: 6px 12px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
            font-size: 24px;
    }
    .navbar-brand>img {
        display: block;
        height: 60px;
    }
}

@media (min-width: 725px) {
    #columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
    #mapper {
        height:300px; 
        width:700px; 
    }
    #input{
        width: auto;
        height: auto;
    }
    .form-control{
        display: inline-block;
        width: auto;
        vertical-align: middle;
        font-size: 14px;
        height: 34px;
    }
    .btn{
        font-size: 14px;
        padding: 6px 12px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
            font-size: 24px;
    }
    .navbar-brand>img {
        display: block;
        height: 60px;
    }
}

@media (min-width: 960px) {
    #columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
    #mapper {
        height:400px; 
        width:1000px; 
    }

    #input {
        width: auto;
        height: auto;

    }
    .form-control {
         font-size: 14px;
          height: 34px;
    }
    .btn {
        font-size: 14px;
        padding: 6px 12px;
    }

    h3 {
        font-size: 24px;
    }
    h4 {
            font-size: 24px;
    }
    .navbar-brand>img {
        display: block;
        height: 55px;
    }
}

@media (min-width: 1100px) {
    #columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
    #mapper{
        height:400px; 
        width:1200px; 
    }
     #input{
    width: auto;
    height: auto;

    }
    .form-control{
         font-size: 14px;
          height: 34px;
    }
    .btn{
        font-size: 14px;
        padding: 6px 12px;
    }

    h3 {
        font-size: 24px;
    }
    h4 {
            font-size: 24px;
    }
    .navbar-brand>img {
        display: block;
        height: 55px;
    }
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
    
@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}
@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
